Source: asyncari
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-anyio (>= 1.0.0),
  python3-asyncswagger11,
  python3-attr (>= 18),
  python3-asyncwebsockets,
  python3-setuptools-scm,
Standards-Version: 3.9.6
Homepage: https://github.com/M-o-a-T/asyncari

Package: python3-asyncari
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-anyio (>= 1.0.0),
  python3-asyncswagger11,
  python3-attr (>= 18),
  python3-asyncwebsockets,
Description: An AnyIO-ified adapter for the Asterisk ARI interface
 AsyncARI implements the Asterisk Resource Interface (ARI) for use by async
 programs.
 .
 It is based on aioari.
